$white: #FFFFFF;
$black: #111111;
//Pushpin
$pushpin: #FFF7F7;
$pushpin-50: #FFEBEB;
$pushpin-100: #FFE0E0;
$pushpin-200: #FCBBBB;
$pushpin-300: #F47171;
$pushpin-400: #EB4242;
$pushpin-500: #CC0000;
$pushpin-600: #B60000;
$pushpin-700: #9B0000;
$pushpin-800: #800000;
$pushpin-900: #660000;
//Flaming
$flaming: #FFF8FA;
$flaming-50: #FFEBF1;
$flaming-100: #FFDFE9;
$flaming-200: #FFBED2;
$flaming-300: #FE8EB1;
$flaming-400: #F76593;
$flaming-500: #DE2C62;
$flaming-600: #C31952;
$flaming-700: #A30C4A;
$flaming-800: #82053E;
$flaming-900: #630233;
//Skycicle
$sky-0:#F7FBFF;
$sky-50:#E6F4FF;
$sky-100:#D7EDFF;
$sky-200:#ABDBFF;
$sky-300:#75BFFF;
$sky-400:#45A3FE;
$sky-500:#0074E8;
$sky-600:#005FCB;
$sky-700:#004BA9;
$sky-800: #003C96;
$sky-900: #002966;
//Spabattical
$spabattical:#F7FDFC;
$spabattical-50:#E6FAF5;
$spabattical-100:#CCF6EE;
$spabattical-200:#75E4D5;
$spabattical-300:#48D5C6;
$spabattical-400:#26C0B4;
$spabattical-500:#00857C;
$spabattical-600:#006B6C;
$spabattical-700:#005C62;
$spabattical-800:#005062;
$spabattical-900: #003440;
//Matchacado
$matchacado:#F6FDF5;
$matchacado-50:#E3FAE1;
$matchacado-100:#C3F9C2;
$matchacado-200:#A4F9AC;
$matchacado-300:#6BEC8C;
$matchacado-400:#39D377;
$matchacado-500:#008753;
$matchacado-600:#005F3E;
$matchacado-700:#00422C;
$matchacado-800:#003020;
$matchacado-900:#00261A;
//Mysticool
$mysticool:#F8F7FF;
$mysticool-50:#F0EDFF;
$mysticool-100:#E9E4FF;
$mysticool-200:#D5C7FF;
$mysticool-300:#B190FF;
$mysticool-400:#9E68FF;
$mysticool-500:#812AE7;
$mysticool-600:#6B16CA;
$mysticool-700:#550AA9;
$mysticool-800:#400387;
$mysticool-900:#2C0066;
//Firetini
$firetini:#FFF6EB;
$firetini-50:#FFF0DB;
$firetini-100:#FFE4C1;
$firetini-200:#FFC58F;
$firetini-300:#FDA161;
$firetini-400:#F77A38;
$firetini-500:#DE3700;
$firetini-600:#C32F00;
$firetini-700:#A42700;
$firetini-800:#842000;
$firetini-900:#660E00;
//Caramellow
$caramellow:#FFFEDB;
$caramellow-50:#FFFEBB;
$caramellow-100:#FFFD92;
$caramellow-200:#FAE600;
$caramellow-300:#FDC900;
$caramellow-400:#E18D00;
$caramellow-500:#BD5B00;
$caramellow-600:#AA4900;
$caramellow-700:#943A00;
$caramellow-800:#7C2D00;
$caramellow-900:#662400;
//Roboflow
$roboflow:#F9F9F9;
$roboflow-100:#F3F1F1;
$roboflow-200:#E9E9E9;
$roboflow-300:#CDCDCD;
$roboflow-400:#A5A5A5;
$roboflow-500:#767676;
$roboflow-600:#4A4A4A;
$roboflow-700:#2B2B2B;
$roboflow-800:#191919;
//Border Radius
$card: 2px;
$button: 4px;
$small-btn: 8px;
$ui-face: 27px;
//Shadow
